/* GERAL--------------------- */
body{
    font-family: 'Objectivity-Regular';
    background-color: #F9F9F9;
    color: #1E2B11;
}
h1, h2, h3{
    font-family: 'Syne-Bold';
    color: #3D5A23;
}
h2{
    font-size: 40px;
    line-height: 1.4em;
}
h3{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1em;
}
a{
    color: currentColor;
    text-decoration: none;
}
li{
    margin-left: 20px;
    line-height: 25px;
    max-width: 700px;
}
p{
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 700px;
}
main{
    margin-top: 60px;
    margin-left: 190px;
    margin-bottom: 70px;
}

/* HEADER E FOOTER----------- */
header{
    color: #3F5D27;
    background-color: #D8EBC7;
    border-bottom: hsl(93, 41%, 26%) 1px solid;
    font-family: 'Objectivity-Regular';
    font-weight: bolder;
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
}
header strong{
    font-family: 'Objectivity-Regular';
    font-size: 12px;
    letter-spacing: 1px;
}
footer{
    color: #3F5D27;
    background-color: #E2E2F2;
    border-top: #3F5D27 1px solid;
    font-family: 'Objectivity-Regular';
    text-align: center;
    font-size: small;
    padding: 16px;
}
footer a{
    color: currentColor;
    text-decoration: underline;
}

/* UPPERNAV--------------------- */
#upper-nav{
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border-top: #3F5D27 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px 0px;
}
#upper-nav h1{
    font-size: 25px;
}
#upper-nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#upper-nav ul:first-child{
    display: flex;
    align-items: center;
    gap: 20px;
}
#home{
    list-style-type: circle;
    right: 30px;
    font-size: 30px;
    font-weight: bolder;
}
#profile{
    width: 20px;
}
#upper-nav-button{
    color: #1E2B11;
    text-decoration: none;
    background-color: #F9F9F9;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    padding: 10px;
    font-size: 15px;
}
#upper-nav-button:hover{
    color: #3D5A23;
}
.a-hover:hover{
    color: #3D5A23;
}
#cart{
    width: 25px;
    padding-left: 0px;
}
#cart-counter{
    font-size: 12px;
    color: #3D5A23;
    position: relative;
    top: -5px;
    left: -20px;
}
#menu-icon{
    display: none;
}

/* DOWNERNAV--------------------- */
#downer-nav{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    border-top: #3F5D27 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-evenly;
}
.downer-ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}
#mail-to{
    color: currentColor;
    text-decoration: none;
}
#social-media{
    text-decoration: none;
    display: flex;
}
#social-media img{
    width: 20px;
    padding: 8px;
}

/* CHAT--------------------- */
aside{
    background-color: #FCC077;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin: 15px;
    width: 25px;
}
#chat{
    width: 25px;
    position: relative;
    top: 3px;
}

/* MAIN---------------------- */
.border-down-p{
    padding-bottom: 50px;
    border-bottom: 1px solid #1E2B11;
    max-width: 700px;
}
.disc-list{
    list-style-type: disc;
}
.number-list{
    list-style-type: decimal;
}
.underlined-anchor{
    color: #3D5A23;
    text-decoration: underline;
}
.lighter-p{
    color: #3D5A23;
}
/* PURE FLAVE PAGE----------- */
#pure-flave-main{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}
#pure-flave-main h2{
    margin-top: 0;
    font-size: 2.5em;
}
#pure-flave-main section{
    width: 500px;
}
#pure-flave-main img{
    margin-left: -50px;
}
#pure-flave-shop{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #3D5A23;
    border: #3D5A23 1px solid;
    border-radius: 40px;
    padding: 15px 60px;
    font-size: 15px;
}
#pure-flave-shop:hover{
    background-color: white;
    color: #3D5A23;
}
/* ABOUT US PAGE ----------- */
#about-us-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-bottom: 200px;
}
#about-us-main section{
    width: 460px;
}
#about-us-1{
    position: absolute;
    top: 200px;
    left: 800px;
}
#about-us-2{
    position: absolute;
    top: 300px;
    left: 650px;
}
/* CONTACT PAGE------------- */
#contact-main{
    display: flex;
}
#contact-main section{
    max-width: 450px;
}
#other-ways{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#other-ways article{
    max-width: 250px;
}
#contact-main form{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    padding-top: 70px;
    padding-left: 50px;
    gap: 50px;
    justify-content: end;
}
#first-name, #last-name{
    width: 160px;
}
#email{
    width: 395px;
}
#message{
    width: 395px;
}
.input-style{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #F9F9F8;
    font-size: 16px;
    font-family: 'Objectivity-Regular';
    padding: 20px 10px;
    border-bottom: #3F5D27 1px solid;
}
.input-style:focus{
    outline: none;
    border-bottom: #3F5D27 2px solid;
}
.input-style:hover{
    border-bottom: #3F5D27 2px solid;
}
#submit{
    color: #3F5D27;
    text-decoration: none;
    background-color: #E2E2F2;
    border: #3F5D27 1px solid;
    border-radius: 40px;
    padding: 15px 60px;
    font-size: 18px;
}
#submit:hover{
    background-color: #F9F9F8;
    color: #3F5D27;
}
#contact-main label{
    color: #3F5D27;
}
/* SHOP--------------------- */
p{
    max-width: 500px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
}
.shop-section img{
    width: 300px;
}
.shop-section article{
    padding: 0px 10px;
}
.shop-section article p{
    color: black;
    margin: 10px 0px;
}
.shop-section article h3{
    margin: 10px 0px;
    font-family: 'Objectivity-Regular';
}
#tag-new{
    background-color: #3D5A23;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 60px;
    padding-top: 3px;
    position: relative;
    top: 38px;
}
#ginger-at-shop{
    position: relative;
    top: -48px;
}
/* DEMO-MODE----------- */
#demo-mode{
    width: 100vw;
    height: 100vh;
    display:grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#demo-mode h2, #demo-mode p{
    color: #1E2B11;
}
#demo-mode a{
    color: white;
    background-color: #3F5D27;
    display:grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 200px;
    margin-left: 70px;
}

/* PRODUCT PAGE------- */
#main-nav{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0px 20px;
    font-size: 16px;
}
#main-nav ul{
    display: flex;
    align-items: center;
}
#main-nav li{
    margin: 5px;
}
.actual-page{
    color: #767D6D;
}
.product-icon{
    height: 40px;
    width: 40px;
    margin: 2px;
}
#product-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 20px;
}
#product-section section:first-child{
    max-width: 500px;
}
#product-info{
    margin-top: -10px;
    margin-left: 30px;
    color: black;
}
#product-info label{
    font-size: 14px;
}
.quantity-div{
    margin-top: -15px;
    margin-bottom: 80px;
}
.product-quantity{  
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    font-size: 14px;
    font-family: 'Objectivity-Regular';
    padding: 12px 20px;
    margin: 10px 0px;
    margin-bottom: 30px;
    border: silver 1px solid;
}
.price-options{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: -50px;
}
.option-box{
    background: white;
    border: 1px silver solid;
    padding: 15px;
    margin-top: -90px;
    margin-bottom: -40px;
    width: 300px;
    display: flex;
    align-items: center;
}
#one-time-purchase{
    position: relative;
    left: -130px;
}
.option-box span{
    position: relative;
    left: -100px;
}
.option-box p{
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.option-box:hover{
    border: black 1px solid;
}
.option-box input{
    accent-color: black;
}
#add-to-cart{
    background-color: #3D5A23;
    padding: 15px 130px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Objectivity-Regular';
}
#add-to-cart:hover{
    background-color: #758963;
}
#product-info article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 350px;
    margin-top: 40px;
    color: #1E2B11;
}
#product-info p{
    font-weight: bold;
} 
.product-info-title{
    color: #3F5D27;

}
.product-info-details{
    margin-top: -10px;
    padding-bottom: 30px;
    margin-bottom: -40px;
    border-bottom: #3F5D27 1px solid;
}
#product-info-details{
    margin-top: -10px;
    padding-bottom: 100px;
    margin-bottom: -40px;
}
small{
    font-size: 12px;
    font-weight: normal;
}
/* FAQ------------------- */
.magnifying-icon{
    position: relative;
    left: 67vw;
}
.faq-section{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 13px;
    color: #3F5D27;
    gap: 30px;
}
.faq-article{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -50px;
}
.faq-article h2{
    font-size: 32px;
    margin-left: 30px;
    background-color: #F3E8DC;
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-article h3{
    margin-top: 30px;
    width: 60vw;
    height: 110px;
    background-color: #F7F3EE;
    display: flex;
    align-items: center;
}






/* MEDIA QUERY--------------- */
@media only screen and (max-width: 768px) {
    header{
        font-size: 12px;
    }
    #upper-nav{
        padding: 14px 0px 0px 24px;
        display: flex;
        justify-content: space-between;
    }
    #upper-nav ul{
        margin-bottom: 10px;
    }
    #upper-nav h1{
        font-size: 20px;
    }
    #menu-icon{
        display: flex;
        width: 30px;
    }
    .mobile-menu{
        display: none;
    }
    #downer-nav{
        font-size: 15px;
        display: block;
        padding-left: 15px;
    }
    #downer-nav ul{
        padding-bottom: 20px;
    }
    main{
        padding-left: 0;
        margin-left: 20px;
        font-size: 1em;
        margin-top: 50px;
        padding-bottom: 70px;
    }
    h2{
        font-size: 1.5em;
    }
    .border-down-p{
        width: 90vw;
    }
    .product-icon{
        display: none;
    }
    #pure-flave-main{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
    }
    #pure-flave-main img{
        width: 80vw;
        margin: 0;
    }
    #pure-flave-main p{
        font-size: 1.3em;
    }
    #pure-flave-shop{
        padding: 16px 120px;
    }
    /* MOBILE MENU------- */
    .mobile-menu-body{
        background-color: #E2E2F2;
    }
    .mobile-menu-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 15vw;
        margin-bottom: 0;
        background-color: #E2E2F2;
    }
    .mobile-menu-main{
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
    }
    .mobile-menu-main li{
        line-height: 50px;
        color: #3D5A23;
    }   
    #upper-nav-button{
        background-color: #E2E2F2;
    }  
    .shop-section img{
        width: 85vw;
    }   
}